body {
  margin: 0;
  font-family: sans-serif;
  background: #eafcff;
  text-align: center;
}

.top-bar {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  background: #003355;
}

.top-bar button {
  padding: 10px 20px;
  background: #00aaff;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#map {
  height: 85vh;
  width: 100%;
  margin-top: 10px;
}
